#footer-text {
  p {
    font-family: $sanserif-font;
    text-transform: uppercase;
    margin: 0;
  }
  .small {
    font-size: 22.7px;
    font-weight: 300;
    letter-spacing: 3.8px;
    margin-top: -15px;
    margin-left: 3px;
  }
  .big {
    font-weight: 600;
    letter-spacing: 3px;
  }
  position: fixed;
  background-color: rgb(247, 251, 142);
  top: 55%;
  z-index: 0;
  padding: 15px 13px 13px 18px;
  text-align: left;
  width: 142px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}
