@import "./bootstrap.min.css";

$main-color: #b5b4b4;
$highlight-color: #f7fb8e;
$secondary-color: #424242;

$serif-font: 'Playfair Display';
$sanserif-font: 'Poppins';

$main-border: 5px solid white;
$ease-border: ease-in;
$ease-expand-page: cubic-bezier(.77,0,.175,1);
$ease-svg-text: cubic-bezier(0.445, 0.05, 0.55, 0.95);
// --------------------------------

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  background: linear-gradient(45deg, #F7FB8D, #82d08b);
  z-index: 3500;
}

.pace::after, .pace::before {
  text-align: center;
  width: 266px;
  font-family: 'poppins';
  color: white;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 5px;
  border: 3px solid #f7fb8e;
  padding: 28px 32px 25px 34px;
  position: absolute;
  top: 43%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.pace::before {
  content: 'LOADING...';
}

.pace::after {
  content: 'WELCOME';
  opacity: 0
}

@-webkit-keyframes disappearTxt {
  100% {
    opacity: 0;
  }
}
@keyframes disappearTxt {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes appearTxt {
  100% {
    opacity: 1;
  }
}
@keyframes appearTxt {
  100% {
    opacity: 1;
  }
}

.pace-inactive {
  top: -100vh;
  transition: top 0.8s $ease-expand-page 1.15s
}
.pace.pace-inactive::before {
  animation: disappearTxt 0.35s forwards 0.20s;
  -webkit-animation: disappearTxt 0.35s forwards 0.20s;
}

.pace.pace-inactive::after {
  animation: appearTxt 0.6s forwards 0.55s;
  -webkit-animation: appearTxt 0.6s forwards 0.55s;
}

.pace .pace-progress {
  background: #f7fb8e;
  position: absolute;
  z-index: 4000;
  top: 0;
  right: 100%;
  width: 100vw;
  height: 15px;
}

.youtube {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.youtube img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}
.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 5px 10px, rgba(0, 0, 0, 0.227451) 0px 5px 10px;
    z-index: 1;
    opacity: 0.9;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


//*** IPHONE 5 OR SMALLER

* {
  box-sizing: border-box;
  font-family: $serif-font;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  //overflow: hidden;
}

#app {
  visibility: hidden
}

body.pace-done {
  overflow: initial;
  #app {
    visibility: initial
  }
}

.img-responsive {
  height: 100%;
  width: 100%;
}

.next-btn {
  width: 163px;
  height: 64.8px;
  border: 5px solid $secondary-color;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  span {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    margin-top: 1px;
    width: 57px;
    border-bottom: 1px solid white;
  }
}

.next-btn:hover {
  cursor: pointer;
  span {
    border-color:$secondary-color;
  }
}





// SIDE BLOCK TITLES

.title-block {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  color: $secondary-color;
  font-size: 2em;
  border: 1px solid black;
  padding: 12px 15px 15px;
  font-weight: 900;
  margin: 0;

}

// MENU
#menu {
  position: fixed;
  z-index: 3000;
  left: 25px;
  top: 25px
}

#menu-btn {
  width: 41px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  font-size: 1.21em;
  padding: 6px 11px 8px
}


// HEADER

#header {
  height: 90vh;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-image: url('/palms.jpg');
  background-attachment: fixed;
  padding: 0;
}

#header-main {
  position: relative;
  height: 75vh;
  top: 7.5vh;
  z-index: 2;
  padding: 0;
  text-align: left
}


#header-border {
  height: 100%;
  width: 100%;
  padding: 20px 0;
  border-top: 15px solid $highlight-color;
  border-bottom: 15px solid $highlight-color;
}

#header-img {
  background-image: url('/header-img-1.jpg');
  background-size: cover;
  background-color: white;
  height: 100%;
}


svg.intro {
  position: absolute;
  height: 300px;
  width: 1000px;
  top: 13vh;
  left: 6vw;
  z-index: 50;
  .text {
    font-size: 5.5em;
    font-weight: 900;
    display: block;
    fill: #333;
  }
}

#svg-text-1 {
  transform: translateY(110px);
  -webkit-transform: translateY(110px);
}
#svg-text-2 {
  transform: translateY(187px);
  -webkit-transform: translateY(187px);
}
#svg-text-3 {
  transform: translateY(240px);
  -webkit-transform: translateY(240px);
}
.svg-text-4 {
  transform: translateY(265px);
  -webkit-transform: translateY(265px);
}
#small-text {
  font-family: $sanserif-font;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 1px;
}

#header-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.85;
  background-color: $main-color
}


// ABOUT

#about-main {
  z-index: 20
}

#about-header {
  background-color: $highlight-color;
}

.about-content, .contact-content {
  font-family: $sanserif-font;
  text-align: left;
  right: 0;
  background-color: white;
}

.contact-content {
  border-top: 1px solid gainsboro;
}

.about-content {
  border-bottom: 1px solid $secondary-color;
  height: auto;
}

.content-padding {
  padding: 0px 36px;
}

.about-intro {
  font-size: 22px;
  font-style: italic;
  padding-top: 15%;
}


#about-btn::before, #work-btn::before, #contact-btn::before, .contact-tool::before,
.resume-link::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
}

#about-btn::before, #work-btn::before, #contact-btn::before, .contact-tool::before {
  z-index: -1;
  background-color: $highlight-color;
  transition: 0.3s;
}

.resume-link::before {
  z-index: 0;
  border-bottom: 3px solid #333;
  transition: 0.2s;
}

.resume-link {
  position: relative;
  cursor: pointer
}

#about-btn:hover, #work-btn:hover, #contact-btn:hover, .contact-tool:hover {
  color: $secondary-color !important;
  transition: 0.3s
}

#about-btn, #work-btn, #contact-btn, .contact-tool {
  transition: color 0.3s
}

#about-btn:focus::before, #about-btn:hover::before,
#work-btn:focus::before, #work-btn:hover::before,
#contact-btn:focus::before, #contact-btn:hover::before, .contact-tool:hover::before,
.resume-link:hover::before {
  width: 100%;
}

// about - text


.intro-emphasis {
  font-family: 'poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.about-heading-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 300;
  font-family: $sanserif-font;
  text-transform: uppercase;
  letter-spacing: 3px;

  .divider {
    width: 35px;
    border-bottom: 2px solid #424242;
    display: inline-block;
  }
  .divider.light {
    border-color: white
  }
}



.about-text {
  ul {
    list-style-type: square;
    padding-left: 21px;
    margin-top: 5px;
  }
  p, li {
    font-family: $sanserif-font;
    font-size: 15px;
    font-weight: 300;
  }
  p {
    line-height: 1.6;
  }
  li {
    line-height: 25px;
  }
  .grouped {
    width: 100%;
    padding-bottom: 15px;
  }
}

.mini-heading {
  font-style: italic;
  font-size: 17px;
}
.video-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 560px;
  text-align: center;
  margin: 0 auto 60px;
}

.video-date {
  font-size: 13px;
  font-family: 'poppins';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}

.video-title {
  font-size: 20px;
  font-style: italic;
  line-height: 28px;
  margin: 8px 0;
}

// WORK

#work-main {
  z-index: 20;
  background-color: white;
}

.work-content {
  height: auto;
  right: 0;
  padding: 0
}

.work-item {
  overflow: hidden;
  position: relative;
}

.work-item-header {
  width: 100%;
  height: 100vh;
  display: flex;
  min-height: 270px;
  overflow: hidden;
  transition: 0.8s height $ease-expand-page;
  -webkit-transition: 0.8s height $ease-expand-page
}

.work-item-content {
  background-color: white;
  text-align: left;
  height: 0;

  a {
    font-family: 'poppins';
    color: #363636;
  }
}


.blurb {
  span {
    font-family: $sanserif-font
  }
}

.work-item-section {
  padding-top: 72px !important;
  padding-bottom: 72px !important;

  p {
    margin-bottom: 0
  }
}

.max-width {
  max-width: 1000px;
  margin: 0 auto;
}

.features-blurb {
  width: 100%
}

.color-tab {
  height: 130px;
  width: 100px;
  margin-bottom: 15px
}

.tab-main {
  width: 100%;
  height: 70%;
}

.tab-title {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dcdcdc;
  span {
    font-family: 'Poppins';
    font-weight: 300;
  }
}

.centered {
  display: flex;
  justify-content: center;
  max-width: none
}

.font-tab {
  border: 1px solid #dcdcdc;
  width: 100%;
  padding: 30px 34px 30px 35px;
  color: #8a8a8a;
}

.font-img {
  padding-top: 15px;
  width: 100%;
  max-width: 533px
}

.font-heading {
  font-style: italic;
  font-size: 16px;
  display: block
}

.header-image {
  transition: 10s transform linear;
  background-size: cover;
  background-position: center 0px;
  position: relative;
  top: 0
}

.header-text-wrapper {
  padding: 45px 36px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}

.header-title {
  margin: 0;
  color: white;
  font-family: $sanserif-font;
  font-size: 3.5em;
  font-weight: 600
}

.header-subtitle {
  color: white;
  font-size: 18px;
  font-style: italic;
  transition: 0.3s;
}

.subtitle-wrapper {
  position: absolute;
  width: 350px;
  margin-top: -38px;
  margin-left: 5px;
  transition: 0.4s 0.95s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

// work - border
.border-wrapper {
  position: relative;
  overflow: hidden;
  width: 168px;
  height: 64.8px;
  margin-top: 10px;
  margin-left: 5px;
}

//animation btn text
.border-wrapper::before {
  content: 'SEE MORE';
  font-family: $sanserif-font;
  font-weight: 300;
  color: white;
  font-size: 18px;
  letter-spacing: 3px;
  position: absolute;
  margin: 0;
  top: 20.5px;
  left: -106px;
  transition: 0.6s 0.3s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.border-top::before,
.border-right::before,
.border-left::before,
.border-bottom::before {
  content: '';
  position: absolute;
}

.border-top::before,
.border-bottom::before {
  transition: width 0.2s $ease-border;
  -webkit-transition: width 0.2s $ease-border;
}

.border-right::before,
.border-left::before {
  transition: height 0.2s $ease-border;
  -webkit-transition: height 0.2s $ease-border;
}

.border-top::before {
  border-top: $main-border;
  top: 0;
  left: 0;
  width: 50%;
  transition-delay: 0.6s;
}

.border-bottom::before {
  border-bottom: $main-border;
  top: 0;
  width: 0%;
  height: 100%;
  right: 0;
  transition-delay: 0.2s;
}

.border-right::before {
  border-right: $main-border;
  height: 0%;
  right: 0;
  top: 0;
  transition-delay: 0.4s;
}

.border-left::before {
  border-right: $main-border;
  height: 0%;
  left: 0;
  bottom: 0;
}

.x-btn {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  cursor: pointer;
}



.x-btn > p::before {
  content: 'X';
  font-family: "Poppins";
  color: white;
  background-color: #424242;
  font-size: 20px;
  padding: 15px;
  letter-spacing: 3px;
  position: absolute;
  margin: 0;
  top: -1.6px;
  left: -46px;
  transition: 0.2s
}

.x-btn > .top::before {
  content: '';
  position: absolute;
  border-top: $main-border;
  top: 0;
  left: 0;
  width: 0%;
  transition: 0.2s 0.7s
}

.x-btn > .right::before {
  content: '';
  position: absolute;
  border-right: $main-border;
  height: 0%;
  right: 0;
  top: 0;
  transition: 0.2s 0.5s
}

.x-btn > .bottom::before {
  content: '';
  position: absolute;
  border-bottom: $main-border;
  top: 0;
  width: 0%;
  height: 100%;
  right: 0;
  transition: 0.2s 0.3s
}

.x-btn > .left::before {
  content: '';
  position: absolute;
  border-right: $main-border;
  height: 0%;
  left: 0;
  bottom: 0;
  transition: 0.2s 0.1s
}

//ANIMATION CLASSES
.x-btn > .top.animate::before {
  width: 100%;
  transition: width 0.16s 0.8s
}

.x-btn > .right.animate::before {
  height: 100%;
  transition: height 0.16s 0.96s
}

.x-btn > .bottom.animate::before {
  width: 100%;
  transition: width 0.16s 1.12s
}

.x-btn > .left.animate::before {
  height: 100%;
  transition: height 0.16s 1.28s
}

.x-btn > p.animate::before {
  left: 4.5px;
  transition: left 0.18s 1.44s
}

// WORK - HOVER

.work-item.closed:hover {
  cursor: pointer;

  .border-wrapper::before {
    left: 32px;
    transition: 0.5s;
    transition-delay: 0.9s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  .header-image {
    transform: scale(1.4);
    -webkit-transform: scale(1.4)
  }

  .border-top::before, .border-bottom::before {
    width: 100%;
    transition: width 0.2s;
    transition-timing-function: $ease-border;
  }
  .border-bottom::before {
    transition-delay: 0.4s;
  }
  .border-right::before, .border-left::before {
    height: 100%;
    transition: height 0.2s;
    transition-timing-function: $ease-border;
  }
  .border-right::before {
    transition-delay: 0.2s;
  }
  .border-left::before {
    transition-delay: 0.6s;
  }

  .subtitle-wrapper {
    margin-top: -15px;
    opacity: 0;
    transition: 0.2s;
  }

  .border-wrapper:hover {
    filter: grayscale(0) sepia(100%) contrast(100%) saturate(7.5);
    -webkit-filter: grayscale(0) sepia(100%) contrast(100%) saturate(7.5);
  }
}


// CONTACT
#contact-main {
  z-index: 10
}

#contact-header {
  background-color: $secondary-color;

  .title-text {
    border-color: white;
    color: white;
  }
}

.contact-content {
  min-height: 100vh
}

.contact-toolbar {
  padding-bottom: 60px;
  .contact-tool {
    position: relative;
    z-index: 0;
    font-size: 16px;
    font-weight: 900;
    color: white;
    background-color: #424242;
    padding: 10px 15px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
  }
}


//UTIL CLASSES FOR TRANSITIONS
.hide-section {
  display: none;
}
.small-header {
  height: 62vh;
  transition-delay: 0.9s
}
.expanded-content {
  height: 100%;
}
.fixed-btn {
  position: fixed !important;
}
.scale-up {
  transform: scale(1.3);
}

#footer-text {
  p {
    font-family: $sanserif-font;
    text-transform: uppercase;
    margin: 0;
  }
  .small {
    font-size: 22.7px;
    font-weight: 300;
    letter-spacing: 3.8px;
    margin-top: -15px;
    margin-left: 3px;
  }
  .big {
    font-weight: 600;
    letter-spacing: 3px;
  }
  position: fixed;
  background-color: rgb(247, 251, 142);
  top: 55%;
  z-index: 0;
  padding: 15px 13px 13px 18px;
  text-align: left;
  width: 142px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}


//*** BIGGER PHONES
@media screen and (min-width: 321px) {

  svg.intro {
    height: 350px;
    .text {
      font-size: 6.6em;
    }
  }
  #svg-text-2 {
    transform: translateY(207px);
    -webkit-transform: translateY(207px);
  }
  #svg-text-3 {
    transform: translateY(271px);
    -webkit-transform: translateY(271px);
  }
  .svg-text-4 {
    transform: translateY(304px);
    -webkit-transform: translateY(304px);
  }
  #small-text {
    font-size: 1.46em;
  }

  .title-text {
    font-size: 3em;
    padding: 15px 20px 20px
  }

  .menu-item {
    font-size: 1.4em;
    padding: 7px 13px 9px
  }


  //about - 321

  .about-intro {
    font-size: 23px;
  }
  .intro-emphasis {
    font-size: 21px;
  }
  .about-text {
    p, li {
      font-size: 16px
    }
  }
  .about-heading-text {
    font-size: 33px
  }
  .mini-heading {
    font-size: 18px
  }
  .video-title {
    font-size: 22px
  }
  .video-date {
    font-size: 14px
  }

  //work - header 321
  .header-title {
    font-size: 4em;
  }

  .header-subtitle {
    font-size: 20px;
  }
}


//IPHONE 6 PLUS
@media screen and (min-width: 414px) {
  //about - 414
  .content-padding {
    padding: 0px 50px;
  }

  //work- 414
  .header-text-wrapper {
    padding-right: 60px;
    padding-left: 60px
  }
}

//*** BIGGER THAN PHONE PORTRAIT
@media screen and (min-width: 415px) {

  //HEADER
  #header {
    height: 100vh;
  }

  #header-main {
    top: 12.5vh;
  }

  //work - 415
  .header-title {
    font-size: 4.5em;
  }

  .header-subtitle {
    font-size: 21px;
  }
}


//*** HALF DESKTOP
@media screen and (min-width: 668px) {

  //HEADER
  #svg-text-2 {
    transform: translateY(225px);
    -webkit-transform: translateY(225px);
  }
  #svg-text-3 {
    transform: translateY(301px);
    -webkit-transform: translateY(301px);
  }
  .svg-text-4 {
    transform: translateY(342px);
    -webkit-transform: translateY(342px);
  }
  #small-text {
    font-size: 1.81em;
  }

  svg.intro {

      .text {
        font-size: 8em;
      }
  }

  //about - 668

  .content-padding {
    padding: 0px 100px;
  }

  .about-intro {
    font-size: 28px;
  }
  .intro-emphasis {
    font-size: 25px;
  }
  .about-text {
    p, li {
      font-size: 17px;
    }
    .grouped {
      width: 45.5%;
      margin-right: 20px
    }
  }
  .about-heading-text {
    font-size: 35px
  }
  .mini-heading {
    font-size: 20px
  }
  .video-title {
    font-size: 25px
  }
  .video-date {
    font-size: 15px
  }

  .features-blurb {
    width: 70%;
    max-width: 440px;
  }

  //contact - 668
  .contact-toolbar {
    .contact-tool {
      font-size: 18px;
    }
  }
}


//*** FULL SIZE DESKTOP
@media screen and (min-width: 992px) {

  // HEADER
  #header-main {
    height: 85vh;
    top: 7.5vh;
  }

  #header-vid {
    height: 100%
  }

  #header-border {
    padding-left: 20px;
    border-left: 5px solid $highlight-color;
    border-width: 5px;
  }


  svg.intro {
    top: 25%;
    left: -145px;
    height: 380px;
  }

  //ABOUT
  #about-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
  }

  .about-content, .work-content {
    position: relative;
    z-index: 100;
    left: 33.3%;
  }


  //WORK
  #work-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
  }

  .fixed-header {
    position: fixed !important;
  }
  .work-item-section {
    padding-right: 172px;
    padding-left: 172px
  }

  .work-item-section.long {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }





///////

#work-header {
  -webkit-transition: width 0.6s $ease-expand-page;
  -moz-transition: width 0.6s $ease-expand-page;
  -ms-transition: width 0.6s $ease-expand-page;
  -o-transition: width 0.6s $ease-expand-page;
  transition: width 0.6s $ease-expand-page;
}

.work-content {
  transition: 0.6s $ease-expand-page;
}

.minimized {
  width: 25%;
}

.expanded-column {
  width: 75%;
  left: 25%
}

.add-border {
  border-right: 1px solid #dcdcdc
}
}


@media screen and (min-width: 1700px) {
  //HEADER
  #svg-text-2 {
    transform: translateY(240px);
    -webkit-transform: translateY(240px);
  }
  #svg-text-3 {
    transform: translateY(320px);
    -webkit-transform: translateY(320px);
  }
  .svg-text-4 {
    transform: translateY(361px);
    -webkit-transform: translateY(361px);
  }
  #small-text {
    font-size: 2em;
  }

  svg.intro {
      .text {
        font-size: 9em;
      }
  }
}


//***FOR SHOWING 'SEE MORE' BTN ON PHONES/TABLETS
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 991px)
  {
    .work-item.closed.small-screen {
      .border-wrapper::before {
        left: 32px;
        transition: 0.5s;
        transition-delay: 0.9s;
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      }
      .border-top::before,
      .border-bottom::before {
        width: 100%;
        transition: width 0.2s $ease-border;
        -webkit-transition: width 0.2s $ease-border;
      }

      .border-right::before,
      .border-left::before {
        height: 100%;
        transition: height 0.2s $ease-border;
        -webkit-transition: height 0.2s $ease-border;
      }

      .border-bottom::before {
        transition-delay: 0.4s;
      }
      .border-right::before {
        transition-delay: 0.2s;
      }
      .border-left::before {
        transition-delay: 0.6s;
      }

      .subtitle-wrapper {
        margin-top: -15px;
        opacity: 0;
        transition: 0.2s;
      }
    }
}


