$main-color: #b5b4b4;
$highlight-color: #f7fb8e;
$secondary-color: #424242;

$serif-font: 'Playfair Display';
$sanserif-font: 'Poppins';

$main-border: 5px solid white;
$ease-border: ease-in;
$ease-expand-page: cubic-bezier(.77,0,.175,1);
$ease-svg-text: cubic-bezier(0.445, 0.05, 0.55, 0.95);
